canvas {
    width: 100vw;
    height: 100vh;
}

.side-text {
    color: #ccc;
    font-family: "Studio6";
    position: absolute;
    font-size: 20px;
    padding: 10px;
    text-align:end;
    bottom: 0;
    right: 0;
    width: 1000px;
    color: #555
}

.resume-btn {
    position: absolute;
    font-family: "Studio6";
    font-size: 40px;
    top: -9999px;
    left: -9999px;
    width: 400px;
    height: 150px;
    color: white;
    display: grid;
    place-items: center;
    z-index: -1;

}

@font-face {
    font-family: "Studio6";
    src: url("/fonts/Studio6-Regular.ttf");
}